[submodule "bind-map"]
	path = lib/bind-map
	url = https://github.com/justbur/emacs-bind-map
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "bui"]
	path = lib/bui
	url = https://github.com/alezost/bui.el
[submodule "bundler"]
	path = lib/bundler
	url = https://github.com/endofunky/bundler.el
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "csv-mode"]
	path = lib/csv-mode
	url = git@github.com:emacsmirror/csv-mode.git
[submodule "dap-mode"]
	path = lib/dap-mode
	url = https://github.com/emacs-lsp/dap-mode
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
[submodule "dired-toggle-sudo"]
	path = lib/dired-toggle-sudo
	url = https://github.com/renard/dired-toggle-sudo
[submodule "eimp"]
	path = lib/eimp
	url = https://github.com/nicferrier/eimp
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "emmet-mode"]
	path = lib/emmet-mode
	url = https://github.com/smihica/emmet-mode
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "findr"]
	path = lib/findr
	url = https://github.com/emacsorphanage/findr
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
[submodule "general"]
	path = lib/general
	url = https://github.com/noctuid/general.el
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "google-translate"]
	path = lib/google-translate
	url = https://github.com/atykhonov/google-translate
[submodule "haml-mode"]
	path = lib/haml-mode
	url = https://github.com/nex3/haml-mode
[submodule "hercules"]
	path = lib/hercules
	url = https://github.com/cyruseuros/hercules
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
[submodule "inf-ruby"]
	path = lib/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
[submodule "jump"]
	path = lib/jump
	url = https://github.com/eschulte/jump.el
[submodule "komunan-lisp-library"]
	path = lib/komunan-lisp-library
	url = git@github.com:ofnhwx/komunan-lisp-library.git
[submodule "leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el
[submodule "libgit"]
	path = lib/libgit
	url = https://github.com/magit/libegit2
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "ls-lisp-extension"]
	path = lib/ls-lisp-extension
	url = git@github.com:ofnhwx/ls-lisp-extension.git
[submodule "lsp-docker"]
	path = lib/lsp-docker
	url = https://github.com/emacs-lsp/lsp-docker
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "lsp-treemacs"]
	path = lib/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs
[submodule "lsp-ui"]
	path = lib/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "magit-delta"]
	path = lib/magit-delta
	url = https://github.com/dandavison/magit-delta
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "projectile-rails"]
	path = lib/projectile-rails
	url = https://github.com/asok/projectile-rails
[submodule "rails-routes"]
	path = lib/rails-routes
	url = https://github.com/otavioschwanck/rails-routes.el
[submodule "rake"]
	path = lib/rake
	url = https://github.com/asok/rake
[submodule "rspec-mode"]
	path = lib/rspec-mode
	url = https://github.com/pezra/rspec-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "sass-mode"]
	path = lib/sass-mode
	url = https://github.com/nex3/sass-mode
[submodule "scss-mode"]
	path = lib/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection
[submodule "treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto
[submodule "vue-ts-mode"]
	path = lib/vue-ts-mode
	url = git@github.com:8uff3r/vue-ts-mode
[submodule "web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "xterm-color"]
	path = lib/xterm-color
	url = https://github.com/atomontage/xterm-color
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "yarn"]
	path = lib/yarn
	url = git@github.com:jmfirth/yarn.el
