[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "affe"]
	path = lib/affe
	url = https://github.com/minad/affe
[submodule "ag"]
	path = lib/ag
	url = https://github.com/Wilfred/ag.el
[submodule "annalist"]
	path = lib/annalist
	url = https://github.com/noctuid/annalist.el
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
[submodule "atomic-chrome"]
	path = lib/atomic-chrome
	url = https://github.com/alpha22jp/atomic-chrome
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "bind-map"]
	path = lib/bind-map
	url = https://github.com/justbur/emacs-bind-map
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "browse-at-remote"]
	path = lib/browse-at-remote
	url = https://github.com/rmuslimov/browse-at-remote
[submodule "bui"]
	path = lib/bui
	url = https://github.com/alezost/bui.el
[submodule "bundler"]
	path = lib/bundler
	url = https://github.com/endofunky/bundler.el
[submodule "cape"]
	path = lib/cape
	url = https://github.com/minad/cape
[submodule "chezmoi"]
	path = lib/chezmoi
	url = https://github.com/tuh8888/chezmoi.el
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql
[submodule "codeium"]
	path = lib/codeium
	url = https://github.com/Exafunction/codeium.el
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
[submodule "company-org-block"]
	path = lib/company-org-block
	url = https://github.com/xenodium/company-org-block
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "consult-flycheck"]
	path = lib/consult-flycheck
	url = https://github.com/minad/consult-flycheck
[submodule "consult-lsp"]
	path = lib/consult-lsp
	url = https://github.com/gagbo/consult-lsp
[submodule "consult-projectile"]
	path = lib/consult-projectile
	url = https://gitlab.com/OlMon/consult-projectile
[submodule "consult-todo"]
	path = lib/consult-todo
	url = https://github.com/liuyinz/consult-todo
[submodule "copilot"]
	path = lib/copilot
	url = https://github.com/copilot-emacs/copilot.el
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
	load-path = .
	load-path = extensions
[submodule "csv-mode"]
	path = lib/csv-mode
	url = https://github.com/emacsmirror/csv-mode
[submodule "dap-mode"]
	path = lib/dap-mode
	url = https://github.com/emacs-lsp/dap-mode
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "ddskk"]
	path = lib/ddskk
	url = https://github.com/skk-dev/ddskk
[submodule "ddskk-posframe"]
	path = lib/ddskk-posframe
	url = https://github.com/conao3/ddskk-posframe.el
[submodule "denote"]
	path = lib/denote
	url = https://git.sr.ht/~protesilaos/denote
[submodule "denote-menu"]
	path = lib/denote-menu
	url = https://github.com/namilus/denote-menu
[submodule "devdocs"]
	path = lib/devdocs
	url = https://github.com/astoff/devdocs.el
[submodule "difftastic"]
	path = lib/difftastic
	url = https://github.com/pkryger/difftastic.el
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
[submodule "dired-toggle-sudo"]
	path = lib/dired-toggle-sudo
	url = https://github.com/renard/dired-toggle-sudo
[submodule "doct"]
	path = lib/doct
	url = https://github.com/progfolio/doct
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "dtrt-indent"]
	path = lib/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent
[submodule "dumb-jump"]
	path = lib/dumb-jump
	url = https://github.com/jacktasia/dumb-jump
[submodule "eaw"]
	path = lib/eaw
	url = https://github.com/hamano/locale-eaw
[submodule "edit-indirect"]
	path = lib/edit-indirect
	url = https://github.com/Fanael/edit-indirect
[submodule "editorconfig"]
	path = lib/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs
[submodule "eimp"]
	path = lib/eimp
	url = https://github.com/nicferrier/eimp
[submodule "el-patch"]
	path = lib/el-patch
	url = https://github.com/radian-software/el-patch
[submodule "elisp-demos"]
	path = lib/elisp-demos
	url = https://github.com/xuchunyang/elisp-demos
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "emmet-mode"]
	path = lib/emmet-mode
	url = https://github.com/smihica/emmet-mode
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil
[submodule "evil-args"]
	path = lib/evil-args
	url = https://github.com/wcsmith/evil-args
[submodule "evil-collection"]
	path = lib/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "evil-easymotion"]
	path = lib/evil-easymotion
	url = https://github.com/PythonNut/evil-easymotion
[submodule "evil-goggles"]
	path = lib/evil-goggles
	url = https://github.com/edkolev/evil-goggles
[submodule "evil-lion"]
	path = lib/evil-lion
	url = https://github.com/edkolev/evil-lion
[submodule "evil-mc"]
	path = lib/evil-mc
	url = https://github.com/gabesoft/evil-mc
[submodule "evil-nerd-commenter"]
	path = lib/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "evil-org"]
	path = lib/evil-org
	url = https://github.com/Somelauw/evil-org-mode
[submodule "evil-surround"]
	path = lib/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "evil-textobj-tree-sitter"]
	path = lib/evil-textobj-tree-sitter
	url = https://github.com/meain/evil-textobj-tree-sitter
[submodule "expand-region"]
	path = lib/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "fancy-compilation"]
	path = lib/fancy-compilation
	url = https://codeberg.org/ideasman42/emacs-fancy-compilation
[submodule "findr"]
	path = lib/findr
	url = https://github.com/emacsorphanage/findr
[submodule "flx"]
	path = lib/flx
	url = https://github.com/lewang/flx
[submodule "flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "flycheck-posframe"]
	path = lib/flycheck-posframe
	url = https://github.com/alexmurray/flycheck-posframe
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
[submodule "fussy"]
	path = lib/fussy
	url = https://github.com/jojojames/fussy
[submodule "fzf-native"]
	path = lib/fzf-native
	url = https://github.com/dangduc/fzf-native
[submodule "general"]
	path = lib/general
	url = https://github.com/noctuid/general.el
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "git-gutter"]
	path = lib/git-gutter
	url = https://github.com/emacsorphanage/git-gutter
[submodule "google-translate"]
	path = lib/google-translate
	url = https://github.com/atykhonov/google-translate
[submodule "grugru"]
	path = lib/grugru
	url = https://github.com/ROCKTAKEY/grugru
[submodule "haml-mode"]
	path = lib/haml-mode
	url = https://github.com/nex3/haml-mode
[submodule "helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm
[submodule "helpful"]
	path = lib/helpful
	url = https://github.com/Wilfred/helpful
[submodule "hercules"]
	path = lib/hercules
	url = https://github.com/cyruseuros/hercules
[submodule "highlight-indentation"]
	path = lib/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "hl-todo"]
	path = lib/hl-todo
	url = https://github.com/tarsius/hl-todo
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
[submodule "inf-ruby"]
	path = lib/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
[submodule "jinx"]
	path = lib/jinx
	url = https://github.com/minad/jinx
[submodule "jump"]
	path = lib/jump
	url = https://github.com/eschulte/jump.el
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "komunan-lisp-library"]
	path = lib/komunan-lisp-library
	url = git@github.com:ofnhwx/komunan-lisp-library.git
[submodule "leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el
[submodule "libgit"]
	path = lib/libgit
	url = https://github.com/magit/libegit2
[submodule "link-hint"]
	path = lib/link-hint
	url = https://github.com/noctuid/link-hint.el
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "ls-lisp-extension"]
	path = lib/ls-lisp-extension
	url = git@github.com:ofnhwx/ls-lisp-extension.git
[submodule "lsp-docker"]
	path = lib/lsp-docker
	url = https://github.com/emacs-lsp/lsp-docker
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
	load-path = .
	load-path = clients
[submodule "lsp-treemacs"]
	path = lib/lsp-treemacs
	url = https://github.com/emacs-lsp/lsp-treemacs
[submodule "lsp-ui"]
	path = lib/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "macrostep"]
	path = lib/macrostep
	url = https://github.com/emacsorphanage/macrostep
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "magit-delta"]
	path = lib/magit-delta
	url = https://github.com/dandavison/magit-delta
[submodule "magit-file-icons"]
	path = lib/magit-file-icons
	url = https://github.com/gekoke/magit-file-icons.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "migemo"]
	path = lib/migemo
	url = https://github.com/emacs-jp/migemo
[submodule "minions"]
	path = lib/minions
	url = https://github.com/tarsius/minions
[submodule "modus-themes"]
	path = lib/modus-themes
	url = https://github.com/protesilaos/modus-themes
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nerd-icons-completion"]
	path = lib/nerd-icons-completion
	url = https://github.com/rainstormstudio/nerd-icons-completion
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "nsmacs-utils"]
	path = lib/nsmacs-utils
	url = git@github.com:ofnhwx/nsmacs-utils.git
	load-path = .
	load-path = commands
	load-path = packages
[submodule "open-junk-file"]
	path = lib/open-junk-file
	url = https://github.com/rubikitch/open-junk-file
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org-modern"]
	path = lib/org-modern
	url = https://github.com/minad/org-modern
[submodule "org-modern-indent"]
	path = lib/org-modern-indent
	url = https://github.com/jdtsmith/org-modern-indent
[submodule "org-re-reveal"]
	path = lib/org-re-reveal
	url = https://gitlab.com/oer/org-re-reveal
[submodule "origami"]
	path = lib/origami
	url = https://github.com/gregsexton/origami.el
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
[submodule "persistent-scratch"]
	path = lib/persistent-scratch
	url = https://github.com/Fanael/persistent-scratch
[submodule "pfuture"]
	path = lib/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "popup"]
	path = lib/popup
	url = https://github.com/auto-complete/popup-el
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "pr-review"]
	path = lib/pr-review
	url = https://github.com/blahgeek/emacs-pr-review
[submodule "prodigy"]
	path = lib/prodigy
	url = https://github.com/rejeep/prodigy.el
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "projectile-rails"]
	path = lib/projectile-rails
	url = https://github.com/asok/projectile-rails
[submodule "rails-routes"]
	path = lib/rails-routes
	url = https://github.com/otavioschwanck/rails-routes.el
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode
[submodule "rake"]
	path = lib/rake
	url = https://github.com/asok/rake
[submodule "rspec-mode"]
	path = lib/rspec-mode
	url = https://github.com/pezra/rspec-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "sass-mode"]
	path = lib/sass-mode
	url = https://github.com/nex3/sass-mode
[submodule "scratch"]
	path = lib/scratch
	url = https://codeberg.org/emacs-weirdware/scratch
[submodule "scss-mode"]
	path = lib/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule "separedit"]
	path = lib/separedit
	url = https://github.com/twlz0ne/separedit.el
[submodule "shackle"]
	path = lib/shackle
	url = https://depp.brause.cc/shackle.git
[submodule "shell-pop"]
	path = lib/shell-pop
	url = https://github.com/kyagi/shell-pop-el
[submodule "shrink-path"]
	path = lib/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
[submodule "smartparens"]
	path = lib/smartparens
	url = https://github.com/Fuco1/smartparens
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection
[submodule "sudo-edit"]
	path = lib/sudo-edit
	url = https://github.com/nflath/sudo-edit
[submodule "symbol-overlay"]
	path = lib/symbol-overlay
	url = https://github.com/wolray/symbol-overlay
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/emacsorphanage/tablist
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "treemacs"]
	path = lib/treemacs
	url = https://github.com/Alexander-Miller/treemacs
	load-path = src/elisp
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
[submodule "treesit-auto"]
	path = lib/treesit-auto
	url = https://github.com/renzmann/treesit-auto
[submodule "undo-fu"]
	path = lib/undo-fu
	url = https://codeberg.org/ideasman42/emacs-undo-fu
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
	load-path = .
	load-path = extensions
[submodule "visual-regexp"]
	path = lib/visual-regexp
	url = https://github.com/benma/visual-regexp.el
[submodule "vlf"]
	path = lib/vlf
	url = https://github.com/m00natic/vlfi
[submodule "vterm"]
	path = lib/vterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "vue-ts-mode"]
	path = lib/vue-ts-mode
	url = https://github.com/8uff3r/vue-ts-mode
[submodule "wakatime-mode"]
	path = lib/wakatime-mode
	url = https://github.com/wakatime/wakatime-mode
[submodule "web-mode"]
	path = lib/web-mode
	url = https://github.com/fxbois/web-mode
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "winum"]
	path = lib/winum
	url = https://github.com/deb0ch/emacs-winum
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "xterm-color"]
	path = lib/xterm-color
	url = https://github.com/atomontage/xterm-color
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "yarn"]
	path = lib/yarn
	url = https://github.com/jmfirth/yarn.el
