[submodule "bind-map"]
	path = lib/bind-map
	url = https://github.com/justbur/emacs-bind-map
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
[submodule "dired-toggle-sudo"]
	path = lib/dired-toggle-sudo
	url = https://github.com/renard/dired-toggle-sudo
[submodule "eimp"]
	path = lib/eimp
	url = https://github.com/nicferrier/eimp
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
[submodule "findr"]
	path = lib/findr
	url = https://github.com/emacsorphanage/findr
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
[submodule "general"]
	path = lib/general
	url = https://github.com/noctuid/general.el
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
[submodule "hercules"]
	path = lib/hercules
	url = https://github.com/cyruseuros/hercules
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
[submodule "jump"]
	path = lib/jump
	url = https://github.com/eschulte/jump.el
[submodule "komunan-lisp-library"]
	path = lib/komunan-lisp-library
	url = git@github.com:ofnhwx/komunan-lisp-library.git
[submodule "leaf"]
	path = lib/leaf
	url = https://github.com/conao3/leaf.el
[submodule "libgit"]
	path = lib/libgit
	url = https://github.com/magit/libegit2
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "ls-lisp-extension"]
	path = lib/ls-lisp-extension
	url = git@github.com:ofnhwx/ls-lisp-extension.git
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "magit-delta"]
	path = lib/magit-delta
	url = https://github.com/dandavison/magit-delta
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "nerd-icons"]
	path = lib/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el
[submodule "nerd-icons-dired"]
	path = lib/nerd-icons-dired
	url = https://github.com/rainstormstudio/nerd-icons-dired
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "string-inflection"]
	path = lib/string-inflection
	url = https://github.com/akicho8/string-inflection
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "xterm-color"]
	path = lib/xterm-color
	url = https://github.com/atomontage/xterm-color
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
